.container{
    align-items: center;
    background-color:darkgray;
}
#legend {
    height: 100px;
    text-align:center;
    background-color:darkgreen;
}
#aka-name {
    color: purple;
    text-align: center;
    font-size:30px;
}