.container{
    align-items: center;
    background-color:darkgray;
    background-image:
}
#legend {
    height: 100px;
    text-align:center;
    background-color:darkgreen;
      /* color:blue; */
}
